BOT_TOKEN=
APPLICATION_ID= # aka Client ID

REG_USR_ROLE_ID= # The role ID that /release gives; If you don't have one, /release might not work properly, I'll add a fix later
PRISONER_ROLE_ID= # The role ID for prisoners

# Can be online, idle, dnd or invisible
# It could be a good idea to use
# - online if you want it to be clear that the bot is active
# - idle if idk it's night or smth cause it looks like a moon you're choice I guess
# - dnd if you want it to kind of look like a No Entry sign (I personally like this)
# - invisible if you expect your bot to have frequent short downtime and don't want the prisoners knowing whether or not the bot is online
STATUS=dnd
WATCHING=The Prisoners # What the bot is "watching", might add more options later, but no promises